/* header*/

header {
  background-color: salmon;
}

h1 {
  text-align: center;
}

nav {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  display: block;
  padding: 8px;
  background-color: seagreen;
}

#logo {
  align-content: center;
}

/*body*/

body {
  background-image: url();
}