/* header*/

header {
  background-color: salmon;
  padding: 50px;
}

h1 {
  text-align: center;
}

nav {
  font-family: 'Times New Roman', Times, serif;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  display: block;
  padding: 8px;
  background-color:  rgb(20, 109, 101);

}

#logo {
  align-content: center;
}

/*body*/

body {
  background-color: rgb(20, 109, 101);
}

/* table */
table {
  margin-bottom: 5px;
  border-spacing: 5px;
}

th {
  background-color: turquoise;
  background: transparent;
}

td {
  background-color: violet;
  background: transparent;
}